<form class="form-horizontal text-center" action='' method="POST"><!--<div style="background-image: url('img_girl.jpg');"></div>-->
    <fieldset>
      <div id="legend">
        <legend class="">Register</legend>
      </div><br>
      <div class="control-group row">
        <!-- Username -->
        <label class="control-label-lg col-md-4"  for="username">Firstname</label>
        <div class="controls col-md-6">
          <input type="text" id="firstname" name="username" placeholder="" class="input-xlarge">
          <p class="help-block">Firstname can contain any letters or numbers, without spaces</p>
        </div>
      </div>
         
      <div class="control-group row">
      <label class="control-label col-md-4"  for="username">Lastname</label>
        <div class="controls col-md-6">
          <input type="text" id="lastname" name="username" placeholder="" class="input-xlarge">
          <p class="help-block">Lastname can contain any letters or numbers, without spaces</p>
        </div>
      </div>
   
      <div class="control-group row">
        <!-- E-mail -->
        <label class="control-label col-md-4" for="email">E-mail</label>
        <div class="controls col-md-6">
          <input type="text" id="email" name="email" placeholder="" class="input-xlarge">
          <p class="help-block">Please provide your E-mail</p>
        </div>
      </div>
   
      <div class="control-group row">
        <!-- Password-->
        <label class="control-label col-md-4" for="password">Password</label>
        <div class="controls col-md-6">
          <input type="password" id="password" name="password" placeholder="" class="input-xlarge">
          <p class="help-block">Password should be at least 4 characters</p>
        </div>
      </div>
   
      <div class="control-group row">
        <!-- Password -->
        <label class="control-label col-md-4"  for="password_confirm">Password (Confirm)</label>
        <div class="controls col-md-6">
          <input type="password" id="password_confirm" name="password_confirm" placeholder="" class="input-xlarge">
          <p class="help-block">Please confirm password</p>
        </div>
      </div><br>

      <div class="control-group row">
        <!-- Password -->
        <label class="control-label col-md-1"  for="password_confirm">Address1</label>
        <div class="controls col-md-4">
          <input type="password" id="address1" name="password_confirm" placeholder="" class="input-xlarge">
          <p class="help-block">Please Provide Local Address</p>
        </div><p class="col-md-2">   </p>
        <label class="control-label col-md-1"  for="password_confirm">Address2</label>
        <div class="controls col-md-4">
          <input type="password" id="address2" name="password_confirm" placeholder="" class="input-xlarge">
          <p class="help-block">Please Provide State & Country</p>
        </div>
      </div>
   
      <div class="control-group">
        <!-- Button -->
        <div class="controls">
          <button class="btn btn-success" href="#">Register</button>
        </div>
      </div>
    </fieldset>
  </form>