<h4>Clan and Friends!</h4>
<p>After all whats the fun on wreaking havoc alone, join your friends ingame by adding them to your friend list 
    <br>
    May they be your closest buddies or those you found ingame enter their Id and stay connected to them
</p>

<div class="row ">

    <label class="col-md-1">Player Id :</label>
    
    <input type="text" class="form-control-sm col-md-6" placeholder="E.g: RGTA5*****" >
</div><br>
<p>To Make the experience wholesome player can Form/Join a Clan with a group of people who share the same interets.<br>
May it be reaking body counts so high that breaks the game or something passive as photography or Car shows, you can clan up and share those moments.</p>

<div class="row" >
<a style="padding-top: 25px;padding-left: 10px;" title="Form a Clan" href="#"> <h5>Form A Clan</h5>
<img  height="200" width="400" src="https://gamesmods.net/uploads/posts/2019-12/1576002975_f2e732-20190825164445_1.jpg">
</a>

<div class="container" appHowerdisplay>
<a  style="padding-left: 10px;" href="#" > <h5>Join A Clan</h5>
    <img  height="200" width="400" src="./assets/GTA-5-crazy-hidden-missions.jpg" >
    
       <div class="overlay" >
            <div class="dis">Login to access<br>
                <button class="btn btn-primary"> Login</button>
            </div>
       </div>
    

</a></div>
</div>
