<div class="container-fluid " >
    <h6>Features & Opportunities</h6>

    <nav class="navbar navbar-dark text-center" style="background-color: rgb(71, 46, 46);">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="#">
                <h6>Heists</h6>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" >
                <h6>Map Building</h6>
            </a>
        </li>
      
        <li class="nav-item  dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
                P v P Modes
            </a>
            <div class="dropdown-menu text-left ">
                <a class="dropdown-item " href="#"><h6>Arena </h6></a>
                <a class="dropdown-item" href="#"><h6>Deathmatch</h6></a>
                <a class="dropdown-item" href="#"><h6>Race</h6></a>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" >
                <h6>Free Roam Adventures</h6>
            </a>
        </li>
        
        
    </ul>
    </nav>
    <div class="list-group">
        <a href="#" class="list-group-item bg-dark text-white text-center" style="padding: 1mt 1mb 2pt 2pb;">Support the Devs</a>
        <a routerLink="refer" class="list-group-item bg-dark text-white text-center" style="padding: 1pt 1pb">Join Friends & Clan</a>
        <a routerLink="Contact" class="list-group-item bg-dark text-white text-center" style="padding: 1pt 1pb">Provide Feedback</a>
        
    </div>
</div>
